* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	user-select: none;
}

html {
	height: 100%;
	width: 100%;
}

body {
	align-content: space-around;
	background-color: #202830;
	color: hsl(0, 0%, 100%);
	display: grid;
	grid-template-columns: auto;
	grid-template-rows: auto auto auto;
	height: 100%;
	justify-items: center;
	padding: 0 8px;
	width: 100%;
	font-family: 'Bebas Neue', cursive;

}

canvas {
	background: linen;
	/* background: linear-gradient(to bottom, #163C52 0%, #4F4F47 30%, #C5752D 60%, #B7490F 80%, #2F1107 100%); */
	border: 2px solid white;
}

p {
	font-size: 1.2rem;
}